<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            font-family: "Arial", sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .flexx-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 30px
        }

        .flexx-row-5x {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 54px
        }

        .container {
            width: 100%;
        }

        @media (min-width:576px) {
            .container {
                max-width: 540px
            }
        }

        @media (min-width:768px) {
            .container {
                max-width: 720px
            }
        }

        @media (min-width:992px) {
            .container {
                max-width: 960px
            }
        }

        @media (min-width:1200px) {
            .container {
                max-width: 1140px
            }
        }

        .flex-row {
            display: flex;
            flex-direction: column;
            /* On smaller screens, switch to column layout */
            gap: 20px;
        }

        header {
            background-color: rgb(85 89 102);
            color: #fff;
            text-align: left;
            border-radius: 8px 8px 0 0;
        }

        main {
            padding: 20px;
        }

        h1 {
            color: white;
            margin: 0;
            /* Remove default margin */
        }

        p {
            color: #666;
            line-height: 1.6;
            margin: 0;
            /* Remove default margin */
        }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(255, 165, 0);
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .cta-button:hover {
            background-color: #45a049;
        }

        footer {
            padding: 30px;
            background-color: rgb(91 95 109);
            color: #fff;
            border-radius: 0 0 8px 8px;
            text-align: center !important;
        }

        /* Media query for smaller screens */
        @media screen and (max-width: 600px) {
            .container {
                max-width: 90vw !important;
                /* Adjust container width for smaller screens */
            }

            .flex-row {
                gap: 10px;
                /* Reduce gap between elements */
            }

            main {
                padding: 15px;
                /* Adjust main padding */
            }

            h1 {
                font-size: 1.5rem;
                /* Decrease heading font size */
            }

            p {
                font-size: 0.9rem;
                /* Decrease paragraph font size */
            }
        }

        .booking-details {
            display: flex;
            flex-direction: column;
        }

        .detail {
            display: flex;
            margin-bottom: 10px;
        }

        .label {
            width: 150px;
            font-weight: bold;
        }

        .value {
            flex-grow: 1;
        }
    </style>

</head>

<body>
    <div style="padding:0px!important;margin: 0px!important" class="pls&nbsp;container container">
        <div>
            <header>
                <img loading="lazy" src="<%=logo%>" srcSet="<%=logo%>"
                    style="width: 80px; height: 80px; object-fit: contain;border-radius:50%" class="img" alt="Logo" />
            </header>

            <div style="text-align:left!important;margin-left:30px!important;margin-right: 30px!important;">
                <h2>We received your booking</h2>
                <h4 style="padding-top: 10px;">Dear <%=name%>,<h4><br>
                            <div>
                                <p>
                                    Thank you for your booking request! We have received it and are currently processing
                                    it. Our team will be in touch with you within 48hrs to confirm your booking
                                    or provide any further information you may need. In the meantime please feel free to
                                    visit & follow our social media pages:

                                </p>
                                <br>
                                <div class="flexx-row">
                                    <div>Instagram:&nbsp; </div>
                                    <a style="color: goldenrod"
                                        href="https://www.instagram.com/micollifilms/">@micollifilms</a>
                                </div>
                                <br>
                                <div class="flexx-row">
                                    <div>Facebook: &nbsp;</div>
                                    <a style="color: goldenrod" href="https://web.facebook.com/micollifilms">Micolli
                                        films</a>
                                </div>
                                <br>
                                <div
                                    class="flexx-row-5x">
                                    <div>Tiktok: &nbsp;</div>
                                    <a style="color: goldenrod"
                                        href="https://www.tiktok.com/@micollifilms">@micollifilms</a>
                                </div>
                                <br>

                                <p>Kind regards,</p>
                                <p>Micolli Films</p>
                                <br>
                                <p>Mobile: +44 (0)7301 613080</p>
                                <br>
                                <p>If you haven't recently contacted us about our <a href="<%=serverUrl%>/packages"
                                        style="color: goldenrod; text-decoration: none;">
                                        <%=package%>
                                    </a>, you can disregard this email.
                                    However, if this information is relevant to your previous inquiry, please review it
                                    at your convenience.</p>

                            </div>

            </div>
        </div>
        <footer style="text-align:center!important;">© 2021-2024 Micollifilms. All rights reserved.</footer>
    </div>
</body>

</html>