<!DOCTYPE html>
<html class="no-js" lang="zxx">
<%- include('../partials/head'); %>
  <link data-optimized="1" rel="stylesheet" id="rs-plugin-settings-css" href="/assets/css/contactsm.css" type="text/css"
    media="all">
  <style>
    .image-background {
      margin-top: -20px;
      min-height: 100%;
      background: url(/assets/img/micolli/compressed/CharlesMary.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      transition: background-image 2s ease-in-out;

    }

    .banner-area {
      position: relative;
      /* Ensure overlay and content are positioned relative to the section */
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      /* Dark overlay with transparency */
      z-index: 0;
      /* Put overlay behind other content */
    }
  </style>
  <style>
    /* If you wish to remove the astonish.js file, then also be sure to remove these styles. */
    .astonish {
      visibility: visible;
    }

    @media (min-width: 768px) {
      .astonish {
        visibility: hidden;
      }

      .animated {
        visibility: visible;
      }
    }

    @media only screen and (max-width:600px) {

      h5 {
        font-size: 13px !important
      }

      .main-text {
        font-size: 2rem !important;
        letter-spacing: 2px !important;
      }

      .sub-text {
        font-size: small !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
      }

      .contain {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  </style>

  <body>
    <!-- preloader-start -->
    <%- include('../partials/preloader'); %>
      <%- include('../partials/header'); %>
        <main>
          <!-- banner-area -->
          <%- include('../partials/cookiesperm'); %>
            <section class="banner-area banner-bg image-background">
              <div class="overlay"></div>
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div style="display:flex; flex-direction:column;justify-content: center;align-items: center;"
                      class="banner-content astonish animated fadeInDown">
                      <h2 id="headerText" class="main-text" style="text-align:center; position: relative; z-index: 1;">CONTACT US</h2>
                      <i style="color:#ffffff;font-size: larger;margin:40px!important">
                        <%= motto %>
                      </i>
                      <a onclick="scrollToForm()" style="background: white!important;color: black; position: relative; z-index: 1;"
                        href="javascript:void(0)" class="btn">Book MICOLLI</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <div style="z-index:0" class="edgtf-full-width container">
              <div class="container">
                <div class="edgtf-grid-row">
                  <div class="edgtf-page-content-holder edgtf-grid-col-12">
                    <div class="edgtf-row-grid-section-wrapper ">
                      <div class="edgtf-row-grid-section">
                        <div style="flex-direction: column-reverse;" class="row vc_row-fluid vc_custom_1525334152382">
                          <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                            <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                <div class="edgtf-elements-holder   edgtf-two-columns  edgtf-responsive-mode-768 ">
                                  <div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-1360"
                                    data-768-1024="0 0 16% 0">
                                    <div class="edgtf-eh-item-inner">
                                      <div class="edgtf-eh-item-content edgtf-eh-custom-1360"
                                        style="padding: 3px 0 30px 0">
                                        <div class="wpb_text_column wpb_content_element ">
                                          <div class="wpb_wrapper">
                                            <h5>Wedding Enquiries</h5>
                                          </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                          <div class="wpb_wrapper">
                                            <p><a
                                                href="https://www.google.com/maps/search/3+Wakehurst+Street+New+York,+NY+10002/@40.7137857,-73.9971568,16.21z"
                                                target="_blank" rel="noopener noreferrer">75 Bembridge Place,<br>
                                                Essex, SS13 3LN</a><br>
                                              <a href="tel:+447 301613080">+447 301613080</a><br>
                                              <u><a href="mailto:info@micollifilms.com">info@micollifilms.com</a></u>
                                            </p>
                                          </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 40px"><span
                                            class="vc_empty_space_inner"></span>
                                        </div>


                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                            <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                  <div class="wpb_wrapper">
                                    <h4>Write Us</h4>
                                  </div>
                                </div>
                                <div class="vc_empty_space" style="height: 20px"><span
                                    class="vc_empty_space_inner"></span></div>
                                <div role="form" class="wpcf7" id="wpcf7-f4-p607-o1" lang="en-GB" dir="ltr">
                                  <div class="screen-reader-response">
                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                    <ul></ul>
                                  </div>
                                  <div class="wpcf7-form cf7_custom_style_2 init">
                                    <div style="display: none;">
                                      <input type="hidden" name="_wpcf7" value="4">
                                      <input type="hidden" name="_wpcf7_version" value="5.6.4">
                                      <input type="hidden" name="_wpcf7_locale" value="en_GB">
                                      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p607-o1">
                                      <input type="hidden" name="_wpcf7_container_post" value="607">
                                      <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                    </div>
                                    <div class="contain">
                                      <div class="row">
                                        <div class="col-xs-12 col-md-4 col-lg-6">
                                          <label>Name<br>
                                            <span class="wpcf7-form-control-wrap" data-name="YourFullName"><input
                                                type="text" id="name" value="" class="wpcf7-form-control wpcf7-text"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Your Full Name"></span><br>
                                          </label>
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-lg-6">
                                          <label>E-mail<br>
                                            <span class="wpcf7-form-control-wrap" data-name="your-email"><input
                                                type="email" id="email" value=""
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Your e-mail"></span><br>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12 col-md-4 col-lg-6">
                                          <label style="width:28.2vw">Event Date<br>
                                            <span class="wpcf7-form-control-wrap" data-name="Date"><input type="date"
                                                id="eventDate" value=""
                                                class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Event Date (day/ month/ year)"></span><br>
                                          </label>
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-lg-6">
                                          <label>Event Location (Country)<br>
                                            <span class="wpcf7-form-control-wrap Country"><input type="text"
                                                id="eventCountry" value=""
                                                class="wpcf7-form-control wpcf7-text wpcf7-countrytext"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Country"></span><br>
                                          </label>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-xs-12 col-md-4 col-lg-6">
                                          <label>Phone Number<br>
                                            <span class="wpcf7-form-control-wrap PhoneNumber"><input type="text"
                                                id="phone" value=""
                                                class="wpcf7-form-control wpcf7-text wpcf7-phonetext"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Phone Number (include country code)"><input type="hidden"
                                                name="PhoneNumber-country-code"
                                                class="wpcf7-phonetext-country-code"></span><br>
                                          </label>
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-lg-6">
                                          <label>How Did You Hear About Us?<br>
                                            <span class="wpcf7-form-control-wrap" data-name="AboutUs">

                                              <select type="text" id="referralMedium" value="Facebook"
                                                class="wpcf7-form-control wpcf7-text">
                                                <option value="Facebook">Facebook</option>
                                                <option value="Tiktok">Tiktok</option>
                                                <option value="Instagram">Instagram</option>
                                                <option value="Youtube">Youtube</option>
                                              </select>
                                            </span>
                                            <br>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                          <label>Which of our packages do you prefer ?<br>
                                            <span class="wpcf7-form-control-wrap" data-name="AboutUs">
                                              <select type="text" id="preferredPackage" value=""
                                                class="wpcf7-form-control wpcf7-text">
                                                <option value="mercedes">Mercedes Package</option>
                                                <option value="porsche">Porche Package</option>
                                                <option value="bently">Bently Package</option>
                                                <option value="traditional">Traditional Package</option>
                                              </select>
                                            </span><br>
                                          </label>
                                        </div>
                                        <div class="col-md-6">
                                          <label>More Information?<br>
                                            <span class="wpcf7-form-control-wrap" data-name="your-textarea"><textarea
                                                id="moreInfo" rows="5" class="wpcf7-form-control wpcf7-textarea"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Share anything else you will like us to know about you"></textarea></span><br>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div style="margin-left: 40px;" class="col-xs-12 text-center"><a
                                            onclick="bookEvent()" style="background-color: goldenrod;"
                                            href="javascript:void(0)" class="sendbtn btn" type="submit" value="SEND"
                                            class="wpcf7-form-control has-spinner wpcf7-submit">SEND</a><span
                                            class="wpcf7-spinner"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 92px"><span class="vc_empty_space_inner"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
            // Get the fragment identifier from the URL
            const fragmentIdentifier = window.location.hash.substring(1);

            // Get the select element
            const selectElement = document.getElementById('preferredPackage');

            // Find the option with value equal to the fragment identifier and set it as selected
            const optionToSelect = selectElement.querySelector(`option[value="${fragmentIdentifier}"]`);

            if (optionToSelect) {
              selectElement.style.color = "goldenrod"
              optionToSelect.selected = true;
            }
          });
        </script>
        <%- include('../partials/footer'); %>

          <%- include('../partials/scripts'); %>
            <script>
              function scrollToForm() {
                const header = document.getElementById('headerText');
                header.scrollIntoView({
                  behavior: 'smooth',
                  block: 'start',
                  inline: 'start',
                });
              }
            </script>



  </body>

</html>