<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head'); %>
    <style>
        .image-background {
            margin-top: -20px;
            min-height: 100%;
            height: 100vh;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            transition: background-image 2s ease-in-out;

        }

        .change-bg {
      background: white !important;
      color: black !important;
      z-index: 1;
    }


        .wp-image {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      gap: 20px;
      background: black;
      padding: 10px;
      z-index: 11;

    }

    .wp-image>a {
      font-size: small !important;
    }

        .banner-content>h2,
            h3 {
                font-size: 3.8rem !important
            }

        .section-title .title {
            font-size: 22px;
            letter-spacing: 1px;
        }

        .banner-area {
            position: relative;
            /* Ensure overlay and content are positioned relative to the section */
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            /* Dark overlay with transparency */
            z-index: 0;
            /* Put overlay behind other content */
        }
    </style>
    <style>
        /* If you wish to remove the astonish.js file, then also be sure to remove these styles. */
        .astonish {
            visibility: visible;
        }

        @media (min-width: 768px) {
            .astonish {
                visibility: hidden;
            }

            .animated {
                visibility: visible;
            }
        }

        @media only screen and (max-width:600px) {
            h2.title {
                font-size: 1.5rem !important
            }

            .banner-content>h2,
            h3 {
                font-size: 2.5rem !important
            }

            .edgtf-st-title-column h3 {
                font-size: 1.8rem !important
            }

            h4 {
                font-size: 0.7rem !important
            }

            .banner-content h4 {
                font-size: 0.9rem !important
            }

        }
    </style>


    <body>
        <%- include('../partials/preloader'); %>
            <%- include('../partials/header'); %>
                <main>
                    <%- include('../partials/cookiesperm'); %>
                    <%-'<script>'%>
                        let _context = <%- JSON.stringify(wfcContext).replace(/</g, '\\u003c').replace(/>/g, '\\u003e') %>;
                     <%-'</script>'%>
         
         
                           <script>
                             function ObjectId() {
                               // Your custom logic for ObjectId (if necessary)
                             }
                             setContext(_context);
                             localStorage.setItem("context", JSON.stringify(_context));
                           </script>
         
                        <section style="background: url('<%= wfcContext?.portfolioItems[0].src %>'); margin-top: -20px;
                        height: 100vh;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;" class="banner-area banner-bg image-background">
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div style="display:flex; flex-direction:column;justify-content: center;align-items: center;"
                                            class="banner-content astonish animated fadeInDown">
                                           
                                            <h2 class="main-h2" style="text-align:center; position: relative; z-index: 1;">
                                                <%= wfcContext?.portfolioItems[0].desc %>
                                            </h2>
                                            <i style="color:#ffffff;font-size: larger;margin:40px!important">
                                                <%= motto %>
                                            </i>
                                            <a style="background: white!important;color: black; position: relative; z-index: 1;"
                                                href="/contact" class="btn">Book MICOLLI</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- services-area -->
                        <section class="services-area pt-120 pb-90">
                            <div style="width:98vw!important;padding-left:15px;padding-right:15px" class="">
                                <div class="vc_row wpb_row vc_row-fluid vc_custom_1525683808908">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div
                                                    class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 ">
                                                    <div class="edgtf-eh-item    "
                                                        data-item-class="edgtf-eh-custom-4654">
                                                        <div class="edgtf-eh-item-inner">
                                                            <div class="edgtf-eh-item-content edgtf-eh-custom-4654"
                                                                style="padding: 0 40px">
                                                                <div class="edgtf-portfolio-list-holder edgtf-pl-masonry  edgtf-medium-space edgtf-pl-two-columns edgtf-pl-gallery-text-sliding    edgtf-pl-pag-no-pagination     "
                                                                    data-type="masonry" data-number-of-columns="2">
                                                                    <div class="edgtf-pl-inner edgtf-outer-space clearfix"
                                                                        style="position: relative;  opacity: 1;">
                                                                        <div class="edgtf-pl-grid-sizer"></div>
                                                                        <div class="edgtf-pl-grid-gutter"></div>
                                                                        <div class="row">
                                                                            <% wfcContext?.portfolioItems.forEach(function(portfolio,
                                                                                index) { %>
                                                                                <article
                                                                                    class="edgtf-pl-item edgtf-item-space edgtf-masonry-size-default edgtf-pl-has-video post-723 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-romance">
                                                                                    <div class="edgtf-pl-item-inner">
                                                                                        <div class="edgtf-pli-image">
                                                                                            <img data-lazyloaded="1"
                                                                                                data-placeholder-resp="1920x964"
                                                                                                src="<%= portfolio?.src %>"
                                                                                                width="1920"
                                                                                                height="964"
                                                                                                data-src="<%= portfolio?.src %>"
                                                                                                class="attachment-full size-full wp-post-image entered litespeed-loaded"
                                                                                                alt="" decoding="async"
                                                                                                data-srcset="<%= portfolio?.src %> 1920w"
                                                                                                data-sizes="(max-width: 1920px) 100vw, 1920px"
                                                                                                data-ll-status="loaded"
                                                                                                sizes="(max-width: 1920px) 100vw, 1920px"
                                                                                                srcset="<%= portfolio?.src %> 1920w">
                                                                                                <% if (user) { %>
                                                                                                    <div style="border-radius: 10px;" class="flex-row-start wp-image">
                                                                                                        <a href="javascript:void(0)"
                                                                                                        onclick="loadModalData(<%= JSON.stringify(portfolio) %>)"
                                                                                                        style="margin-right: 10px; color: white;">
                                                                                                        <i class="fas fa-edit"
                                                                                                            style="line-height: 1; color: white; height:10px"></i> Edit
                                                                                                        </a>

                                                                                                        <% if (portfolio.isLatest) { %>
                                                                                                        <a href="javascript:void(0)"
                                                                                                            onclick="toggleLatestItem(<%= JSON.stringify(portfolio?._id) %>)"
                                                                                                            style="margin-right: 10px; color: orangered;">
                                                                                                            <i class="fas fa-minus"
                                                                                                            style="line-height: 1; color: orangered; height:10px"></i>
                                                                                                            Remove From Latest</a>
                                                                                                        <% } %>

                                                                                                            <% if (!portfolio.isLatest) { %>
                                                                                                            <a href="javascript:void(0)"
                                                                                                                onclick="toggleLatestItem(<%= JSON.stringify(portfolio?._id) %>)"
                                                                                                                style="margin-right: 10px; color: white;">
                                                                                                                <i class="fas fa-plus"
                                                                                                                style="line-height: 1; color: white; height:10px"></i>
                                                                                                                Add to Latest</a>
                                                                                                            <% } %>

                                                                                                            <% if (!portfolio.isArchive) { %>
                                                                                                            <a href="javascript:void(0)"
                                                                                                                onclick="toggleArchiveItem(<%= JSON.stringify(portfolio?._id) %>)"
                                                                                                                style="margin-right: 10px; color: white;">
                                                                                                                <i class="fas fa-trash-alt"
                                                                                                                style="line-height: 1; color: white; height:10px"></i>
                                                                                                                Archive</a>
                                                                                                            <% } %>
                                                                                                            <% if (portfolio.isArchive) { %>
                                                                                                            <a href="javascript:void(0)"
                                                                                                                onclick="toggleArchiveItem(<%= JSON.stringify(portfolio?._id) %>)"
                                                                                                                style="margin-right: 10px; color: orange;">
                                                                                                                <i class="fas fa-undo"
                                                                                                                style="line-height: 1; color: orange; height:10px"></i>
                                                                                                                Unarchive</a>
                                                                                                            <% } %>
                                                                                                    </div>
                                                                                                    <% } %>

                                                                                        </div>
                                                                                        <div
                                                                                            class="edgtf-pli-text-holder">
                                                                                            <div class="edgtf-pli-text">
                                                                                                <h4 itemprop="name"
                                                                                                    class="edgtf-pli-title entry-title">
                                                                                                    <%= portfolio?.desc%>
                                                                                                </h4>
                                                                                            </div>
                                                                                        </div>
                                                                                        <a itemprop="url"
                                                                                            class="edgtf-pli-link edgtf-block-drag-link"
                                                                                            href="<%= portfolio?.href %>"
                                                                                            target="_self">
                                                                                        </a>
                                                                                    </div>
                                                                                </article>
                                                                                <% }); %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>

                        <section class="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-8 col-md-10">
                                        <div class="section-title white-title mb-40">
                                            <h2 style="color:black" class="title">Our promise to our clients</h2>
                                            <p style="color:black" class="title-paragraph">
                                                "Our promise to our clients is to deliver exceptional videography and
                                                wedding films that capture the essence and beauty of their special day.
                                                We are committed to meticulously crafting every moment, ensuring that
                                                each detail is thoughtfully captured and preserved for eternity. From
                                                the intimate exchanges of vows to the joyous celebrations, we prioritize
                                                delivering a film that reflects the unique love story of each couple.
                                                With state-of-the-art equipment and a team of dedicated professionals,
                                                we promise to provide a personalized and unforgettable experience,
                                                exceeding expectations and creating cherished memories that last a
                                                lifetime."
                                            </p>
                                        </div>
                                        <a style="margin-bottom: 30px;" href="/contact" class="btn">Book
                                            Us</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                </main>
                <%- include('../partials/footer'); %>
                <%- include('../partials/scripts'); %>
                <%- include('../partials/editportfolioItem'); %>
                <%- include('../partials/testimonialModal'); %>

    </body>


</html>