<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <%- include('../partials/head'); %>

  <body>
    <style>
        /* Add CSS styles here */
        .scroll-to-element {
            scroll-margin-top: 100px; /* Adjust as needed */
        }
    </style>
    <%- include('../partials/preloader'); %>
    <%- include('../partials/header'); %>
    <main>
      <!-- breadcrumb-area -->
      <%- include('../partials/cookiesperm'); %>
      <section style="margin-top: 10px;" class="breadcrumb-area">
        <div
          class="breadcrumb-bg"
          data-background="/assets/img/images/royaltyfree/doctor-taking-care-senior-woman-home_23-2148962376.png"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="breadcrumb-content">
                <h3 class="title">Service Details</h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      service details
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- services-details-area -->
      <section class="services-details-area pt-120 pb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-11">
              <div class="portfolio-details-content">
                <div class="portfolio-details-img">
                  <img
                    src="/assets/img/images/royaltyfree/social-worker-taking-care-senior-woman_23-2149031342.png"
                    alt=""
                  />
                </div>
                <p>
                  Our care and rehabilitation services are geared at those with
                  life-threatening or chronic illnesses, as well as those who
                  have significant physical or mental impairments. It is
                  possible that our supported living care will be the best
                  solution for your loved one if their care needs cannot be
                  addressed in their own home. The benefits of entrusting us
                  with the care of your loved one include safety, socialising,
                  medication help, and peace of mind. It might be difficult to
                  make a call when faced with a similar circumstance for the
                  first time. Then you could be helping a parent or close friend
                  figure out what to do next.
                </p>
                <div class="services-facilities">
                  <div class="services-facilities-thumb">
                    <img
                      src="/assets/img/images/royaltyfree/car-smiley-man-woman-medium-shot_23-2148940048.png"
                      alt=""
                    />
                  </div>
                  <div class="services-facilities-content">
                    <h4>Supported Living Care</h4>
                  </div>
                </div>
                <p>
                  We have developed a list of some of the advantages to think
                  about when deciding to move into a supported living setting,
                  given the various considerations involved in making such a
                  decision. Despite the fact that every assisted living care
                  facility is unique and provides its own special brand of care
                  and amenities, we believe the following 10 advantages are
                  crucial in setting us apart from the competition and making us
                  the provider of choice.
                </p>

                <div class="row">
                  <div class="col-md-12 col-sm-6">
                    <div class="portfolio-details-list">
                      <ul>
                        <li>
                          <i class="fal fa-check"></i>
                          <span>Safety</span>
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span>Support is always at hand</span>
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span>Companionship</span>
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span>Your loved one having peace of mind.</span>
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span
                            >Your nutritional needs are catered for in a very
                            structured manner</span
                          >
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span
                            >You will be living in an impeccably clean, hygienic
                            and the ‘feel at home’ comfort</span
                          >
                        </li>

                        <li>
                          <i class="fal fa-check"></i>
                          <span
                            >Your medication needs are a priority and managed as
                            prescribed</span
                          >
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span
                            >Specialist care – if you suffer from complex needs,
                            we can help</span
                          >
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span
                            >Be yourself in the privacy of your own room</span
                          >
                        </li>
                        <li>
                          <i class="fal fa-check"></i>
                          <span
                            >You have the choice to participate in physical and
                            mental activities which will allow you live a
                            healthier lifestyle</span
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% servicesDetails.forEach(function(serviceDetail) { %>
                    <span style="opacity: 0;" id="<%= serviceDetail?.id %>">1</span>
                    <% if (serviceDetail?.topBreak) { %>
                        <br>
                    <% }; %>
                    <h4><%= serviceDetail.title %></h4>
                    <p class="mb-0"><%- serviceDetail?.description.replace(/<br>/g, "<br>") %></p>
                    <% if (serviceDetail?.subItems) { %>
                        <br>
                        <div class="portfolio-details-list">
                            <ul>
                                <% serviceDetail?.subItems.forEach(function(subItem) { %> 
                                    <li>
                                        <i class="fal fa-check"></i>
                                        <span><%= subItem %></span>
                                      </li>
                                <% }); %>
                              
                            </ul>
                        </div>
                      <% }; %>
                    <% if (serviceDetail?.extra) { %>
                        <p class="mb-0"><%- serviceDetail?.extra.replace(/<br>/g, "<br>") %></p>
                        
                    <% }
                    else { %>
                        <br>
                    <% } %>
                <% }); %>

                <br />
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-7">
              <aside class="portfolio-sidebar">
                <div class="widget mb-40">
                  <div class="portfolio-widget-title mb-30">
                    <h4>All Services</h4>
                  </div>
                  <div class="portfolio-widget-cat">
                    <ul>
                      <li>
                        <a href="#"
                          >Assisted Living
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Lifestyle
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Physical Therapy
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Private Nursing
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Residential Nursing
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Medical Care
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Resident Care
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Memory Care
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Facility Staffing
                          <span><i class="fal fa-arrow-right"></i></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="widget p-0">
                  <div class="portfolio-sidebar-img">
                    <img
                      src="/assets/img/images/details_sidebar_img.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </aside>
            </div> -->
          </div>
        </div>
      </section>
      <!-- services-details-area-end -->
    </main>
    <!-- main-area-emd -->

    <!-- footer-area -->
    <%- include('../partials/footer'); %>
    <!-- footer-area-end -->
    <!-- JS here -->
    <%- include('../partials/scripts'); %>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var hash = window.location.hash.substr(1);
            console.log("Hash fragment:", hash);
            
            function scrollToElementWhenVisible() {
                var element = document.getElementById(hash);
                if (!element) {
                    setTimeout(scrollToElementWhenVisible, 100); // Check again after 100ms
                }
                if (element) {
                    console.log("Scrolling ", element);
                    var parentElement = document.querySelector('.services-details-area');
                    var elementTopRelativeToParent = element.getBoundingClientRect().top + parentElement.scrollTop - parentElement.getBoundingClientRect().top - 80;
                    parentElement.scrollTo({ top: elementTopRelativeToParent, behavior: 'smooth' });
                }
            }
        
            scrollToElementWhenVisible();
        });
    </script>
  </body>

</html>
